<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Local</h1>
			<p>The easiest way to set your your businesses web precense</p>	
		</div>
    <button>Sign Up Now</button>
	</div>
</div>
</div>
<div class="grid-items-lines">
  <a href="javascript:void(0)" class="grid-item">
    <i class="fa fa-money fa-3x"></i>
    <h1>Free Websites</h1>
    <p>Build your webside, and share your ideas <i>For free</i> .</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
  <i class="fa fa-picture-o fa-3x"></i>
    <h1>Choose Your theme</h1>
    <p>Select from our beautiful themes, choose the one that best speaks to your buisness.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
  <i class="fa  fa-pie-chart fa-3x"></i>
    <h1>Better SEO</h1>
    <p>add your own key words and descriptions to help users better find you</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
   <i class="fa fa-pencil-square-o fa-3x"></i>
    <h1>Edit content</h1>
    <p>Edit your content right in the place it falls on the page, instant ideas, instant results</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
   <i class="fa  fa-mobile fa-3x"></i>
    <h1>Mobile friendly</h1>
    <p>all of our themes are mobile friendly. So your website looks great on the go too.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <i class="fa fa-check-square fa-3x"></i>
    <h1>Easy to use</h1>
    <p>We can have you up in under 10 minutes, each time. every time. </p>
  </a>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
<footer class="footer">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer -- This was made by very cool people.</p>
</footer>
