<div class="hero">
	<div class="hero-inner">
		<h1>Local.</h1>
		<p>Better websites for small buisnesses. Share ideas to your audience with a few clicks</p>
	</div>
	<%= link_to("sign out", destroy_user_session_path , method: :delete) %>
</div>